<%- include('../partials/header') %>

<section id="show-page">
    <div>Title: <%=recipe.title%></div>
    <div>Creator: <%= recipe.creator%></div>
    <div>Instruction: <%= recipe.instructions%> </div>
    <div>Creator Rating: <%= recipe.rating %> </div>
    <div id="show-image"><img src="<%=  recipe.imagelink%>"></div>
</section>
<a href="/recipes/<%= recipe._id %>/edit">Click here to edit the recipe instructions</a>
<!--reviews adding section-->

<% if (user){ %>
    <form id="addreviewform" method="POST" action="/recipes/<%= recipe._id %>/comments">
        <label>Review:</label>
        <textarea name="review"></textarea>
        <label>Rating:</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="submit" value="Add Review">
    </form>
    

<% } else { %>
    <h3>Please Login before submitting a review!</h3>
<% } %>

<% if(recipe.comments.length) { %>

    <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Review</th>
            <th>Reviewer Rating</th>
          </tr>
        </thead>
        <tbody>
          <% let total = 0 %>
          <% recipe.comments.forEach(function(c){ %>
           <tr>
            <td> <%= c.userName %> </td>
            <td> <%= c.review %> </td>
            <td> <%= c.rating %> </td>
            <% if (user){ %>
            <td>
                    <form action="/recipes/<%= c._id %>?_method=DELETE" method="POST">
                        <button type="Submit">Delete Review</button>
                    </form>
            </td>
            <% } %>
        </tr>
        <%  }) %>

<% } %>

<%- include('../partials/footer') %>